<div class='ui message' id="learn_more_box">
  <p id="learn_more_txt">
    Schldr is a multifunctional timeslot-based booking system, that can function as both a scheduling solution for a B2C dynamic and a employee-orientated schedule/shift generating application.

    In simpler terms, Schdlr helps managers automate the process of creating shifts for employees, and also can function as a booking system for a business with timeslot based customers, such as a dance studio, or a dentist. 
  </p>
</div>