// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html a {
  text-decoration-line: none;
  text-decoration: none;
  -webkit-text-decoration:none;
}

body {
  overflow: hidden;
}

body > div.ui.top.sidebar.transparent.inverted.main.menu.active {
  overflow: hidden;
 }

#header {
  
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   z-index: 1000;
}

.fc-toolbar {
  background-color: #9A778F;
  h2 {
    color: white;
    text-align: center;
    padding: 0.5em;

  }
}

// .sidebar {
//   background-color: steelblue;
//   .item {
//     padding: 1em;
//   }
//   .container {
//     display: inline-block;
//     border: 1px solid black;
//     height: 100%;
//     width: auto;
//   }
// }



