// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html a {
  text-decoration-line: none;
  text-decoration: none;
  -webkit-text-decoration:none;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#welcome_box, #login_box, #learn_more_box {
  font-size: 3em;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0.5em;
}

#login_box {
  font-size: 1em;
}

#learn_more_box {
  position: relative;
}

#learn_more_txt {
  font-size: 0.5em;
}