// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slot {
  height: 100%;
  width: 14.286%;
}

#drawingtoolbar {
  z-index: 1000;
  position: fixed;
  right: 1.6em;
  bottom: 0.8em;
}

#drawshifttext {
  display: inline-block;
}